html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  padding-top: 45px;
  background-color: #222633;
  background-color: #202020;
  color: #fff;
}

.hidden {
  display: none!important;
}

.self-intro {
  color: #f70;
}


.switch-wrapper {
  position: relative;
}

.switch-wrapper>div {
  position: absolute;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000px;
}

.pageSliderRight-enter {
  transform: translate3d(-100%, 0, 0);
}

.pageSliderRight-enter.pageSliderRight-enter-active {
  transform: translate3d(0, 0, 0);
  transition: all 600ms;
}

.pageSliderRight-exit {
  transform: translate3d(0, 0, 0);
}

.pageSliderRight-exit.pageSliderRight-exit-active {
  transform: translate3d(-100%, 0, 0);
  transition: all 600ms;
}

.pageSliderLeft-enter {
  transform: translate3d(100%, 0, 0);
}

.pageSliderLeft-enter.pageSliderLeft-enter-active {
  transform: translate3d(0, 0, 0);
  transition: all 600ms;
}

.pageSliderLeft-exit {
  transform: translate3d(0, 0, 0);
}

.pageSliderLeft-exit.pageSliderLeft-exit-active {
  transform: translate3d(100%, 0, 0);
  transition: all 600ms;
}

.slide-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  transform: translate3d(100%, 0, 0);
  animation: slide 0.5s forwards;
}

.slide-page-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  transition: all 0.5s;
  transform: translate3d(0, 0, 0);
}

.slide-page-main.out {
  transform: translate3d(-100%, 0, 0);
}

@keyframes slide {
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-out {
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
